.Weather {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: max-content;
    margin: 0px auto;
    padding: 15px;

}

.Container {
    box-shadow: 0 0 1px black;
    margin: 0 auto;
    width: max-content;
    background-color: white;
    border-radius: 10px;
}

.City {
    border: 1px solid black;
    border-radius: 3px;
    background-color: #ECF0F1;
    font-size: 24px;
    text-align: center;
    outline-width: 0;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 250px;
    height: 50px;
    transition: all 250ms;
}

.CityFocus:focus {
    box-shadow: 0px 0px 4px black;
}

.CityError:focus {
    background-color: #FF6666;
    box-shadow: 0px 0px 4px black;
}

.recharts-wrapper {
    margin: 0 auto;
    margin-top: 20px;
}

tspan {
    font-size: 14px;
}

@media (max-width: 480px) {
    .Weather {
        width: 320px;
        flex-wrap: wrap;
        padding: 0;
        height: auto;
        margin-top: 20px;
    }

    .City {
        margin-top: 30px;
    }
}