.Days {
    width: 100px;
    margin: 0 20px;
    padding: 5px 5px;
}

.Days:hover {
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
    background-color: rgba(0, 0, 0, 0.04);
}


.DaysSelected {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.04);
}

.Temperature {
    margin: 0;
}

.TemperatureUpdated,
.WeatherImageUpdated {
    animation: opacityAnimation 500ms ease-in;
}

@keyframes opacityAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.Day {
    margin: 0px;
}

.TempMax {
    margin-right: 10px;
}

.TempMin {
    color: grey;
}



@media (max-width: 480px) {
    .Days {
        width: 80px;
        color: white;
        padding: 10px;
        margin: 0;
        margin-bottom: 10px;

    }

    .WeatherImage {
        height: 32px;
    }

    span {
        font-size: 0.9em;
    }

    .Day {
        font-size: 1em;
    }

    .TempMin {
        color: white;
    }

}

@media (max-width: 768px) and (min-width:481px) {
    .Days {
        margin: 0;
    }

    .WeatherImage {
        width: 36px;
    }
}