.Days {
    width: 100px;
    margin: 0 20px;

}

.Days:hover {
    cursor: pointer;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.05);
}


.DaysSelected {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.05);
}

.Temperature {
    margin: 0;
}

.TemperatureUpdated,
.WeatherImageUpdated {
    animation: opacityAnimation 500ms ease-in;
}

@keyframes opacityAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.Day {
    margin: 0px;
}



@media (max-width: 480px) {
    .Days {
        padding-bottom: 10px;
        color: white;
    }

}

@media (max-width: 768px) and (min-width:481px) {
    .Days {
        margin: 0;
    }

    .WeatherImage {
        width: 36px;
    }
}