.Days {
    width: 100px;
    margin: 0 20px;
}

.DaysSelected {
    border: 1px solid black;
}

.Temperature {
    margin: 0;
}

.TemperatureUpdated,
.WeatherImageUpdated {
    animation: opacityAnimation 500ms ease-in;
}

@keyframes opacityAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.Day {
    margin: 0px;
}

@media (max-width: 480px) {
    .Days {
        padding-bottom: 10px;
    }
}